body {
  background: #1f242d;
}

a{
  color: #fff;
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 60px 9% 0;
  color:#fff;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  font-size: 32px;
  margin-top: -10px;
}

.home-info p {
  font-size: 16px;
  margin: 10px 0 25px;
}

.home-info .btn-sci {
  display: flex;
  align-items: center;

}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 9%;
  background: skyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 15px;
  margin: 20px 0;
}

.skill-item {
  background: #323946;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease-in-out;
}

.skill-item i {
  font-size: 22px;
  color: #06bed6;
}

.skill-item:hover {
  transform: translateY(-5px);
  background: #06bed6;
  color: #fff;
}

ul {
  margin-left: 20px;
  line-height: 1.8;
  font-size: 16px;
}

footer {
  background-color: #06bed6;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: Arial, sans-serif;
}